<div class='container my-5'>
  <div class="card">
    <div class="card-body my-3 mx-3">
      <div class="row">
        <div class="col">
          <h3 class="feature-title">Vendor Profile</h3>
        </div>
        <div class="col">
          <%= link_to 'Back to Profile', edit_platform_vendor_path(current_vendor), class: 'btn btn-outline-secondary float-end' %>
        </div>
      </div>
      <br>

      <div class="mb-3">
        <% if @vendor.avatar.attached? %>
          <%= image_tag @vendor.avatar, style: 'width: 200px;' %>
        <% end %>
      </div>

      <div class="mb-3">
        <h4>Hello, <%= @vendor.name %>!</h4>
      </div>
      <div class="mb-3">
        <%= @vendor.email %></div>
      <div class="mb-3"><%= @vendor.phone_number %></div>
      <div class="mb-3"><%= @vendor.location %></div>
      <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=400x300&markers=size:small%7Ccolor:red%7C#{@vendor.latitude},#{@vendor.longitude}&key=#{Rails.application.credentials[Rails.env.to_sym][:GOOGLE_MAP_API]}", alt: "Map" %>
      <br>
      <%= link_to 'Get Direction', "https://maps.google.com/?q=#{@vendor.latitude},#{@vendor.longitude}", target: '_blank' %>
      <br>
    </div>
  </div>
</div>
