<div class='container my-5'>
  <div class="card">
    <div class="card-body my-3 mx-3">
      <h3 class="feature-title">Create a new product</h3>
      <br>
      <%= form_with(model: [:platform, @product]) do |f| %>

      <div class="mb-3">
        <%= f.label :photos, class: "form-label" %>
        <%= f.file_field :photos, multiple: true, class:"form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :name, class: "form-label" %>
        <%= f.text_field :name, class:"form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :description, class: "form-label" %>
        <%= f.text_field :description, class:"form-control" %>
      </div>
      <div class="mb-3">
        <%= f.label :price_per_quantity, class: "form-label" %>
        <%= f.text_field :price_per_quantity, class:"form-control" %>
      </div>
      <div class="mb-3">
        <%= f.label :quantity, class: "form-label" %>
        <%= f.text_field :quantity, class:"form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :available, class: "form-label" %>
        <%= f.check_box :available %>
      </div>

      <div class="d-grid">
        <%= f.submit 'Create', class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
</div>

<div class='container my-5'>
<div class="card">
  <div class="card-body my-3 mx-3">

    <h3 class="feature-title">List of products</h3>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price (RM)</th>
            <th scope="col">Quantity</th>
            <th scope="col">Stock</th>
            <th scope="col">#</th>
          </tr>
        </thead>
        <tbody >
          <% @products.each do |product| %>
            <tr>
              <td>
                <% if product.photos.attached? %>
                  <% product.photos.each do |photo| %>
                    <%= image_tag photo, style: 'width: 100px;'%></td>
                  <td><%= link_to 'Remove', delete_photo_attachment_platform_product_path(photo), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-secondary'%></td>
                <% end %>
              <% end %>
              <td><%= product.name %></td>
              <td><%= product.description %></td>
              <td><%= product.price_per_quantity %></td>
              <td> <%= product.quantity %> </td>
              <td>
                <% if print_quantity(product.quantity) %>
                  <span class='in_quantity'>In Stock</span>
                <% else %>
                <button type="button" class="btn btn-danger">
                  <span class='out_quantity'>Out of Stock</span></button></td>
                <% end %>

              <td><%= link_to edit_platform_product_path(product) do %>
                <button class='btn btn-outline-secondary'>Edit</button>
              </td>
            <% end %>
            <td><%= link_to 'Delete', platform_product_path(product), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-secondary' %></td>
            <br>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
</div>
