<div class='container my-5'>
  <div class="card">
    <div class="card-body my-3 mx-3">
      <h3 class="feature-title">Edit products</h3>
      <br>
      <%= form_with(model: [:platform, @product]) do |f| %>

      <div class="mb-3">
        <%= f.label :photos, class: "form-label" %>
        <%= f.file_field :photos, multiple: true, class:"form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :name, class: "form-label" %>
        <%= f.text_field :name, class:"form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :description, class: "form-label" %>
        <%= f.text_field :description, class:"form-control" %>
      </div>
      <div class="mb-3">
        <%= f.label :price_per_quantity, class: "form-label" %>
        <%= f.text_field :price_per_quantity, class:"form-control" %>
      </div>
      <div class="mb-3">
        <%= f.label :stock, class: "form-label" %>
        <%= f.text_field :stock, class:"form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :available, class: "form-label" %>
        <%= f.check_box :available %>
      </div>

      <div class="d-grid">
        <%= f.submit 'Edit', class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
</div>
