<div class='container mt-5 p-3'>
  <div class="card">
    <div class="card-body pr-3">
      <h3 class="feature-title">User Profile </h3>
      <br>
      <div class="mb-3">
        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar, style: 'width: 200px;' %>
        <% end %>
      </div>

      <div class="mb-3"><h2>Hello,<%= @user.username %>!</h2></div>
      <div class="mb-3"><%= @user.first_name %><%= @user.last_name %></div>
      <div class="mb-3"><%= @user.phone_number %> </div>
      <div class="mb-3"><%= @user.email %></div>

    </div>
  </div>
</div>


<div class='container mt-3 p-3'>
  <div class="card">
    <div class="card-body">
      <h3 class="feature-title">User Orders </h3>

    </div>
  </div>
</div>
