<nav class="navbar navbar-expand-lg p-3 navbar-light" style="background-color: #FBFBFB;">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="navbar-brand mt-2 mt-lg-0" href="#">Admin Dashboard</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: 'btn btn-outline-primary m-2'  %>
        </li>

        <% if admin_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Dashboard', platform_dashboard_path(current_admin), class: 'btn btn-outline-primary m-2'  %>
          </li>
          <li class="nav-item">
            <%= link_to 'Profile', platform_home_path, class: 'btn btn-outline-primary m-2'  %>
          </li>
          <li class="nav-item">
            <%= link_to 'Setting', edit_platform_admin_path(current_admin), class: 'btn btn-outline-primary m-2'  %>
          </li>
          <li class="nav-item">
            <%= link_to 'Logout', destroy_admin_session_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-primary m-2'  %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign Up', new_admin_registration_path, class: 'btn btn-outline-primary m-2'  %>
          </li>
          <li class="nav-item">
            <%= link_to 'Login', new_admin_session_path, class: 'btn btn-outline-primary m-2'  %>
          </li>
        <% end %>

      </div>
    </div>
  </nav>
