<div class='container my-5'>
  <div class="card">
    <div class="card-body my-3 mx-3">

      <h3 class="feature-title">List of products</h3>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Image</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Price (RM)</th>
              <th scope="col">Quantity</th>
            </tr>
          </thead>
          <tbody >
            <tr>
              <td>
                <% if @product.photos.attached? %>
                  <% @product.photos.each do |photo| %>
                    <%= image_tag photo, style: 'width: 100px;'%></td>
                <% end %>
              <% end %>
              <td><%= @product.name %></td>
              <td><%= @product.description %></td>
              <td><%= @product.price_per_quantity %></td>
              <br>
              <td>
                <%= form_with(model: [@product, @order]) do |f| %>
                  <%= f.label :quantity %>
                  <%= f.number_field :quantity, in: 1..30 %>
                <%= f.submit 'Confirm' %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
</div>
